//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//COLORS

$Clr-very-dark-magenta: hsl(300, 43%, 22%);
$Clr-soft-pink: hsl(333, 80%, 67%);
$Clr-dark-grayish-magenta: hsl(303, 10%, 53%);
$Clr-light-grayish-magenta: hsl(300, 24%, 96%);
$Clr-white: hsl(0, 0%, 100%);

//Font Family

$Ff-primary: 'League Spartan', sans-serif;
