@import 'variables.scss';
@import 'mixins.scss';
@import 'resets.scss';

body {
	font-size: 15px;
	font-family: $Ff-primary;
}
.overview {
	width: 100%;
	padding: 7rem 10rem 7rem 10rem;
	@include flexer(column, center, center);
	&-upper {
		@include flexer(row, space-between, center);
		width: 100%;
	}
	&-lower {
		@include flexer(row, space-between, center);
		gap: 2rem;
		margin-top: 3rem;
	}
	&__title {
		font-size: 3.4375rem;
		color: $Clr-very-dark-magenta;
		width: 22rem;
		line-height: 3.0625rem;
		font-weight: $Fw-bold;
		margin-bottom: 1.5rem;
	}
	&__description {
		width: 30rem;
		font-size: 1.1875rem;
		line-height: 1.5625rem;
		color: $Clr-dark-grayish-magenta;
	}
	&__rating {
		&Box1,
		&Box2,
		&Box3 {
			display: flex;
			align-items: center;
			margin: 1rem;
			padding: 1rem;
			background-color: $Clr-light-grayish-magenta;
			border-radius: 10px;
			min-width: 350px;
			max-width: 35rem;
			& img {
				height: 0.98575rem;
				margin: 0.25rem;
			}
			&-text {
				margin-left: 2rem;
				color: $Clr-very-dark-magenta;
				font-size: 1.0625rem;
			}
		}
		&-stars {
			@include flexer();
			margin-left: 1rem;
		}
	}
	&__ratingBox1 {
		margin-right: 6rem;
	}
	&__ratingBox2 {
		margin-left: 3rem;
		margin-right: 3rem;
	}
	&__ratingBox3 {
		margin-left: 6rem;
	}
	&__user {
		min-width: 21.875rem;
		background-color: $Clr-very-dark-magenta;
		border-radius: 10px;
		padding: 2rem;
		height: auto;
		max-width: 22rem;

		&-photo {
			border-radius: 50%;
			height: 2.5rem;
		}

		&-statement {
			color: $Clr-white;
			line-height: 1.375rem;
			width: 18.3125rem;
		}
		&-name {
			color: $Clr-white;
			text-transform: capitalize;
			font-size: 1.0625rem;
			font-weight: $Fw-bold;
			margin-bottom: 0.2rem;
		}
		&-role {
			text-transform: capitalize;
			color: $Clr-soft-pink;
			font-size: 1rem;
			font-weight: $Fw-medium;
		}
	}
	&__user2 {
		margin-top: 1rem;
	}
	&__user3 {
		margin-top: 2rem;
	}
	&__back-top-desktop {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__back-bottom-desktop {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

.userCard-flex {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin-bottom: 1.5rem;
}
@media (max-width: 1000px) {
	.overview-upper,
	.overview-lower {
		@include flexer(column, center, center);
	}
	.overview {
		padding: 5rem 1.5rem 5rem 1.5rem;
		&__title {
			font-size: 2.5625rem;
			text-align: center;
			line-height: 2rem;
		}
		&__description {
			text-align: center;
			width: 21rem;
		}
		&__rating {
			margin-left: 0;
			&Box1,
			&Box2,
			&Box3 {
				@include flexer(column, center, center);
				min-width: 20.5rem;
				margin-left: 0;
				margin-right: 0;
			}
		}
		&__user2,
		&__user3 {
			margin-top: 0;
		}
		&__back-bottom-desktop {
			bottom: -730px;
		}
	}
}
